<div class="container">
  <h1 class="text-center my-5">レシピ一覧</h1>

  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="card my-3">
          <% if recipe.image.attached? %>
            <%= image_tag url_for(recipe.image), class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= recipe.title %></h5>
            <%= link_to '詳細', recipe_path(recipe), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>