* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  min-width: 800px;
  height: 130px;
  background-color: #86bd5f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.fridege-management-icon {
  width: 300px;
  margin-right: 10px;
  margin-left: 10px;
}

.search-form {
  width:500px;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 70%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
  display: flex;
}

.search-icon {
  width: 100%;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;

}

.lists {
  display: flex;
  margin-left: 20px;
  justify-content: flex-end;
}


.png{
  height: 100px;
  margin-right: 3vw;
} 

