.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #86bd5f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo{
  height: 200px;

}