// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-image{
  width: 100vw;
}
.center-image{
  width: 100vw;
}
.botom-image{
  width: 100vw;
}
.post-btn {
  width: 120px;
  bottom: 40px;
  right: 60px;
  position: fixed;
}